<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nnu.edu.back.dao.manage.DeviceMapper">
    <insert id="addDevice">
        insert into device values(#{device.id}::uuid, #{device.name}, #{device.lon}, #{device.lat}, #{device.stationId}, #{device.description}, #{device.avatar})
    </insert>


</mapper>